* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* background-color: rgba(46, 196, 181, 0.041); */
  background: #f7fdfc;
  font-family: "Sofia Sans", sans-serif;
}
a,
input,
input::placeholder,
select,
button {
  font-family: "Sofia Sans", sans-serif;
  color: rgba(115, 115, 115, 1);
}
p {
  color: rgba(115, 115, 115, 1);
}
h1 {
  color: rgba(0, 11, 10, 1);
}

section {
  padding: 24px;
}

.logo {
  width: 39px;
  height: 40px;
  margin-bottom: 3rem;
}

.text {
  display: grid;
  gap: 1rem;
  margin: 15px 0px;
}
.logo svg {
  width: 100%;
}

.show_lg {
  display: none;
}

/* select option:checked{
  color: red;
} */

form {
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.1);
  padding: 24px 16px;
  display: grid;
  gap: 24px 0px;
}

.input_wrap {
  display: grid;
  gap: 0.5rem;
  position: relative;
}

input,
select {
  height: 48px;
  border: 1px solid rgba(240, 240, 240, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  outline: none;
  padding: 0rem 1rem;
  width: 100%;
  background-color: #fff;
}

input[type="text"]:focus,
input[type="text"]:active {
  color: black;
  font-weight: bold;
  background-color: white;
}

input:-webkit-autofill {
  background-color: #fff !important;
}

select option:focus, select option:checked {
  color: rgba(0, 11, 10, 1);
}


.eye {
  position: absolute;
  transform: translate(0, -50%);
  right: 0;
  bottom: 5px;
  padding-right: 10px;
}
