* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* background-color: rgba(46, 196, 181, 0.041); */
  background: #f7fdfc;
  font-family: "Sofia Sans", sans-serif;
}
a,
input,
input::placeholder,
select,
button {
  font-family: "Sofia Sans", sans-serif;
  color: rgba(115, 115, 115, 1);
}
p {
  color: rgba(115, 115, 115, 1);
}
h1 {
  color: rgba(0, 11, 10, 1);
}

section {
  padding: 24px;
}

.logo {
  width: 39px;
  height: 40px;
  margin-bottom: 3rem;
}

.text {
  display: grid;
  gap: 1rem;
  margin: 15px 0px;
}
.logo svg {
  width: 100%;
}

.show_lg {
  display: none;
}

/* select option:checked{
  color: red;
} */

form {
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.1);
  padding: 24px 16px;
  display: grid;
  gap: 24px 0px;
}

.input_wrap {
  display: grid;
  gap: 0.5rem;
  position: relative;
}

input,
select {
  height: 48px;
  border: 1px solid rgba(240, 240, 240, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  outline: none;
  padding: 0rem 1rem;
  width: 100%;
  background-color: #fff;
}

input[type="text"]:focus,
input[type="text"]:active {
  color: black;
  font-weight: bold;
  background-color: white;
}

input:-webkit-autofill {
  background-color: #fff !important;
}

input:focus,
input:active,
select:focus,
select:active {
  outline: 1px solid rgba(46, 196, 182, 1);
}
.eye {
  position: absolute;
  transform: translate(0, -50%);
  right: 0;
  bottom: 5px;
  padding-right: 10px;
}

._dob .eye {
  bottom: 0px;
  top: 50px;
}

.p_word .eye {
  bottom: 0px;
}

button {
  fill: #2ec4b6;
  background-color: rgba(46, 196, 182, 1);
  color: white;
  outline: none;
  border: none;
  padding: 1rem;
  filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.1));
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
button:hover,
button:focus,
button:active {
  background-color: #2ec4b59c;
}

.terms {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 178.571% */
}

.terms span {
  color: #2ec4b6;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  text-decoration-line: underline;
}

@media screen and (min-width: 900px) {
  section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px;
    height: 100vh;
  }
  .show_sm {
    display: none;
  }
  .show_lg {
    display: block;
  }
  .form_wrapper {
    width: 100%;
  }

  form {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 30px;
  }

  ._dob .eye {
    bottom: 0;
    top: 43px;
  }
  .input_wrap {
    gap: 0;
  }
  button,
  .xt {
    grid-column: 1/3;
  }
}
